<!DOCTYPE html>
<html>
<head>
    <title>UKE exam</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="?sheet=nowe">nowe</a></li>
            <li><a href="?sheet=stare">stare</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
