<!DOCTYPE html>
<html>
<head>
    <title>UKE exam</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
